.section-info {
    background-color: black;
    background-image: linear-gradient(to right bottom, rgb(122 117 125 / 50%), rgb(38 12 12 / 80%));
    color: #fff;
    display: flex;    
    flex-direction: column;
    padding-top: 45px;
}

.info-container {
    display: flex;
    flex-direction: row;
    height: 250px
};



@mixin space {
    padding-top: 20px;
    padding-left: 30px; 
}

@mixin letterStyle {
    font-size: 55px;
    letter-spacing: 0;
    width: 35%;
}

//ABOUT ME SECTION

.title {
    @include space;       
    @include letterStyle;    
}

.content {
    @include space;    
    width: 63%;
}

li {
    list-style: none;
    font-size: 16px;
    padding-bottom: 30px;
    display: flex;
}

.arrow-icon {
    background-image: url('../../svg-icoms/arrow-forward.svg');
    background-size: cover;    
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 20px;
    filter: invert(78%) sepia(69%) saturate(707%) hue-rotate(8deg) brightness(97%) contrast(101%)
}

//RESUME SECTION

.resume-sentence {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
}

.resume-link {
    display: inline-flex;
    text-decoration: none;
    width: 105px;
    height: 37px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 5px;
    margin: 15px;
    border: solid 0.5px #dbdb00;
    border-radius: 4px;
    color: #dbdb00;    
    text-align: center;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: #222831;
        border: solid 0.5px #ffff12;
        color: #ffff12;
    }
}

.resume-icon {
    background-image: url(../../svg-icoms/icon-document.svg);
    background-size: cover;
    width: 22px;
    height: 22px;
    filter: invert(78%) sepia(69%) saturate(707%) hue-rotate(8deg) brightness(97%) contrast(101%);
}

//SKILL SECTION

.icon-image {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    
    
    &:hover {        
        opacity: 0.8;
    }
}

.white {
    color: white;
}

//MEDIA QUERIES

@media screen and (max-width: 66.25em) {  //1060px /16px = 66.25
    .info-container{
        flex-direction: column;
        justify-content: center;
    }
    
    .content {
        width: 95%;
    }
}

@media screen and (max-width: 56.25em) {  //900px /16 = 56.25
    .info-container:last-child {
        padding-bottom: 65px;
    }

    .section-info {
        padding-top: 35px;
    }

    .title {
        font-size: 39px;
    }

    li {
        font-size: 15px;
        padding-bottom: 25px;
    }

    .resume-sentence {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 37.5em) {  //600px /16 = 37.5em
    .title {
        width: auto;
        color: #dbdb00;
        font-size: 35px;
    }

    li {
        font-size: 14px;
        &::before {
            content: "\00BB"
        }
    }

    .resume-sentence {
        font-size: 18px;
    }

    .icon-image {
        width: 80px;
        height: 80px;
    }

    .arrow-icon {
        background-image: none;
        
    }    
}

@media screen and (max-width: 25em) {
    .icon-image {
        width: 70px;
        height: 70px;
    }
}