// CARD STYLES

.card-container {
    display: flex;
    width: 95%;
    height: 300px;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, rgb(122 117 125 / 50%), rgb(38 12 12 / 80%));
    box-shadow: 10px 11px 11px -11px yellow;
    overflow: hidden;
    margin-bottom: 60px;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 10px 11px 22px -11px yellow;
    }
}

.image-box {
    display: flex;
    width: 40%;    
}

.image {
    width: 100%;
    height: auto;
}

.info-project {
    width: 60%;
    padding: 20px;
}

.project-title {
    margin-bottom: 15px;
    color: #dbdb00;
    font-size: 30px;
}

.description {
    color: #fff;
    font-size: 14px;
    line-height: 170%;
    text-align: justify;
}

//MEDIA QUERY

@media screen and (max-width: 56.25em) {
    .card-container {
        flex-direction: column;
        width: 90%;
        height: 55%;
    }

    .image-box {
        width: 100%;
    }

    .info-project {
        width: 100%;
    }
}

@media screen and (max-width: 50em) {
    .description {
        font-size: 12.2px;
    }

    .info-project {
        padding: 15px;
    }    
}

@media screen and (max-width: 25em) {
    .description {
        font-size: 11.2px;
    } 
}