.form {
    display: flex;
    flex-direction: column;
}

.form-names {
    display: flex;
    justify-content: space-between;
}

@mixin form-style {
    border: solid 0.2px #dbdb00;
    background-color: black;
    border-radius: 3px;
    padding: 7px;
    color: #fff;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.input-names {
   @include form-style;
    width: 295px;
    height: 45px;    
}

.input-email {
    @include form-style;
    width: 600px;
    height: 45px;
    margin: 20px 0px;
}

.input-message {
    @include form-style;
    width: 600px;
    height: 200px;
    margin-bottom: 20px;
    resize: none;
    
    &:focus {
        outline: none;
        border-color: #DBF764;
        box-shadow: 0 0 8px #DBF764
    }
}

input:focus {
    outline: none;
    border-color: #DBF764;
    box-shadow: 0 0 8px #DBF764
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out   
}

.btn {
    height: 35px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0px 12px 10px -11px yellow;
    background-image: linear-gradient(to right bottom, rgb(0 0 0 / 61%), rgb(28 5 5 / 95%));
    transition: all .2s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 13px 10px -10px yellow;
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0px 10px 10px -11px yellow;
    }
}

//MEDIA QUERY

@media screen and (max-width: 37.5em) {
    .form-names {
        width: 95vw;
    }

    .input-email {
        width: 95vw;
    }

    .input-message {
        width: 95vw;
    }
}