$main-color: #000;
$font-color: #fff;

.navigation-container {
    height: 45px;
    display: flex;    
    justify-content: space-between;
    background-color: $main-color;

    .navigation-link-container {
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.logo {
    width: 45px;
    height: 45px;
}

.nav-link { 
    position: relative;
    color: $font-color;
    margin-right: 25px;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 3.5px;
    cursor: pointer;

    &::after {        
        content: '';
        position: absolute;
        width: 100%;
        height: 1.5px;
        left: 0.2px;
        bottom: 0.2px;
        background: #dbdb00;
        transform: scale(0, 1);
        transform-origin: 0% 100%;
        transition: transform 0.3s ease;        
    }

    &:hover:after {
        transform: scale(1, 1);
    }
}