.profile-picture {
    margin-bottom: 36px;
    width: 115px;
    height: 115px;
    border-radius: 50px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 600px;
    padding: 15px 20px;
    margin-bottom: 38px;    
    border-radius: 5px;
}

.contact-primary-text {
    color: #fff;
    font-size: 16px;
    line-height: 140%;
    text-align: justify;
}

.access-link {
    text-decoration: none;
    color: #dbdb00;
}

.thin-line {
    width: 600px;
    height: 0.1px;
    background-color: #dbdb00;
    margin: 15px 0px;
}

.contact-secondary-text {
    color: #fff;
    font-size: 15.5px;
    margin: 11px;
}

.container-contact-logos {
    display: flex;    
}

.contact-logos {
    width: 35px;
    height: 35px;
    
    filter: invert(72%) sepia(60%) saturate(676%) hue-rotate(12deg) brightness(101%) contrast(105%);

    &:hover {
        filter: invert(72%) sepia(60%) saturate(676%) hue-rotate(12deg) brightness(150%) contrast(105%);
    }
      
}

//QUERY

@media screen and (max-width: 50em) { 
    .contact-box {
        width: 96%;
    }

    .thin-line {
        width: 107.5%;
    }

    .contact-primary-text { 
        font-size: 14px;
    }

    .contact-secondary-text { 
        font-size: 13.5px;
    }
}